@import "~bootstrap/scss/bootstrap";

$item-width: 1fr;
$item-height: 1fr;
$item-size: 2.38em;
$black: #222222;

body {
    font-family: sans-serif;
    padding: 1rem;
    padding-top: 0;
    padding-bottom: 0;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: $black;
}

.controls {
    display: grid;
    grid-template-columns: repeat(3, $item-width);
    grid-template-rows: repeat(3, $item-height) 2em;
    column-gap: 2px;
    row-gap: 2px;
    flex-grow: 1;
    margin-top: 1rem;
}

.controls button {

}

.controls button:hover {
    
}

.game {
    position: relative;
    display: grid;
    grid-template-columns: repeat(9, $item-width);
    grid-template-rows: repeat(9, $item-height);
    border: 2px solid linear-gradient(#f06, aqua, navy);
    row-gap: 2px;
    column-gap: 2px;
    width: 100%;
    border-radius: 0.3rem;
    box-shadow: 1px 1px 3px black;
    box-sizing: border-box;
    background: linear-gradient(#f06, aqua, navy);
    background-repeat: no-repeat;
}

.input-container {
    box-sizing: border-box;
    text-align: center;
    border: 1px solid transparent;
    padding-top: 1px;
    font-size: 1.4em;
    border-radius: 0.2rem;
    transition: border-color 0.3s,
                box-shadow 0.3s;
    outline: none;
    cursor: pointer;
    color: $black;
}

.input-container[data-readonly="true"] {
    cursor: initial;
}

.input-container-selected {
    border-color: #808080;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3) inset;
}

.input-container[data-readonly] {
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.6);
}

.input-container.error {
    color: red;
}

.hline,
.vline {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
}

.sline {
    background-color: rgba(0, 0, 0, 0.1);
}

.hline {
    width: 100%;
    height: 2px;
}

.hline-1 {
    top: calc(3 * 100% / 9);
}

.hline-2 {
    top: calc(6 * 100% / 9 + 1px);
}

.shline-1 {
    top: calc(1 * 100% / 9 - 1px);
}

.shline-2 {
    top: calc(2 * 100% / 9 - 1px);
}

.shline-3 {
    top: calc(4 * 100% / 9);
}

.shline-4 {
    top: calc(5 * 100% / 9);
}

.shline-5 {
    top: calc(7 * 100% / 9 + 1px);
}

.shline-6 {
    top: calc(8 * 100% / 9 + 2px);
}

.vline {
    width: 2px;
    height: 100%;
}

.vline-1 {
    left: calc(3 * 100% / 9 - 1px);
}

.vline-2 {
    left: calc(6 * 100% / 9 - 1px);
}

.svline-1 {
    left: calc(1 * 100% / 9 - 2px);
}

.svline-2 {
    left: calc(2 * 100% / 9 - 1px);
}

.svline-3 {
    left: calc(4 * 100% / 9 - 1px);
}

.svline-4 {
    left: calc(5 * 100% / 9 - 1px);
}

.svline-5 {
    left: calc(7 * 100% / 9 - 1px);
}

.svline-6 {
    left: calc(8 * 100% / 9);
}
